.image-upload-area {
  width: 200px;
  height: 200px;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

.image-input {
  display: none !important;
}

.user-count {
  text-align: center;
  border-radius: 3px;
  background-color: rgba(55, 90, 127, .1);
}
