<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <% flash.each do |type, msg| %>
        <div class="alert alert-<%= flash_for type %>">
          <p class="text-center">
            <%= msg %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
